.blur-shadow::before {
  content: "";
  position: absolute;
  inset: -20%; /* Shorthand for top, right, bottom, left */
  background: radial-gradient(
    at center,
    /* Center the gradient in the middle of the element */
      rgba(255, 255, 255, 1) 20%,
    /* Start with fully opaque (solid color) closer to the center */
      rgba(255, 255, 255, 0) 100%
      /* End with fully transparent further from the center */
  );
  z-index: -1;
}
