.gradient-text {
  background: linear-gradient(to right, rgb(74, 74, 255), rgb(184, 32, 184));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.gradient-bg {
  background: linear-gradient(to right, rgb(74, 74, 255), rgb(184, 32, 184));
  color: white;
  font-size: 18px;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
}

.gradient-bg:hover {
  outline: 2px solid rgb(74, 74, 255);
  box-shadow: 0 0 0 2px rgb(184, 32, 184);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.btn-custom {
  background: none;
  border: none;
  outline: none;
  color: #6c757d; /* slightly darker than text-muted */
  transition: color 0.3s ease;
  font-size: 18px;
}

.btn-custom:hover {
  color: #a0a0a0; /* slightly lighter color on hover */
}
