.btn-rounded {
  border-radius: 50px; /* You can adjust this value to get the desired curvature */
  width: 85%;
  padding-top: 3px; /* You can adjust this value to get the desired padding */
  padding-bottom: 3px;
}
.divide {
  background-color: white;
  height: 10px;
  width: 100%;
}
.text-span {
  flex-grow: 1;
}